<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            TicTail ToDo
        </title>
        <link rel="stylesheet" href="static/bootstrap.css">
        <link rel="stylesheet" href="static/todo.css">
    </head>
    <body>
        <script>
            window.userId = {{userId | tojson | safe}};
            window.username = {{username | tojson | safe}};
            window.todos = {{todos | tojson | safe}};
        </script>
        <script data-main="static/main.js" src="static/require.js"></script>
        <div class='main-content'></div>
    </body>
</html>
